/*////////////////Opdracht 2 - Deelopdracht 1///////////////*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-section {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 5;
}

header {
    flex-basis: 15vh;
    flex-shrink: 0;
}

.article {
    flex-basis: 60vw;
    order: 1;
}

.nav {
    flex-basis: 20vw;
    flex-shrink: 0;
    order: 3;
}

.aside {
    flex-basis: 20vw;
    flex-shrink: 0;
    order: 2;
}

.footer {
    flex-basis: 15vh;
    flex-shrink: 0;
}

