@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: beige;
}

.top-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
    height: 15vh;
    background-color: #030027;
    padding-right: 50px;
}

h2 {
    justify-self: flex-start;
    align-self: center;
    padding-right: 380px;
    padding-left: 60px;
}

.nav-items {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    justify-items: ;
    font-size: 20px;
    flex-basis: 60vw;
    padding-left: 480px;
    padding-right: 40px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    padding-top: 50px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    margin: 10px 0 30px 0;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 250px;
    flex: 1;

    /*margin: 0 100px 0 100px;*/

}
.boxes {
    flex-basis: ;
    justify-content: center;
    align-content: flex-end;
    background-color: #c16e70;
    text-align: center;
    font-style: bold;
    font-size: 18px;
    padding: 10px;
    width: 280px;
    height: 350px;
    border-radius: 5px;
}