body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.outer-col-1 {
    flex-basis: 20vw;
    height: 100vh;
    flex-grow: 0;
    flex-shrink: 0;
}

.outer-col-2 {
    display: flex;
    flex-direction: column;
    width: 85vw;
}

.inner-col {
    display: flex;
    flex-direction: column;
}
.inner-row {
    display: flex;
    flex-direction: row;
}

header {
    flex-basis: 20vh;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: 60vh;
    width: 60vw;
}

aside {
    flex-basis: 80vh;
    width: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}

footer {
    flex-basis: 20vh;
    width: 60vw;
    flex-grow: 0;
    flex-shrink: 0;
}